{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<!-- Extra -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<!-- -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon"  type='image/x-icon' href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Log</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>

      <button class='navbar-toggler' type="button" data-toggle='collapse' data-target='#navbarCollapse' aria-controls="navbarCollapse" aria-expanded='false' aria-lable='Toggle navigation'>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
<!--
              <li class="nav-item">
                  <a href="/accounts/profile/">
                      <img src="{{request.user.user_profile.image.url_60x60}}" style="height:40px;"
                           alt="{{request.user.fullname}}" class="avatar rounded-circle">
                      <span class="header-username">{{request.user.get_full_name}}</span>
                  </a>
              </li>
-->
              <li class="nav-item">
                <span class="navbar-text"> Hello, {{user.username}}. </span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
              {% endif %}
              </li>
            </ul>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>

      <div class="">
        {% block content %}{% endblock content %}
      </div>
    </main>
  </body>
</html>
